<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>E-Commerce Website</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

  </head>
  <body>
    <section id="header">
      <a href="#"
        ><img src="/assets/logo.png" class="logo" alt=""
      /></a>
      <div>
        <ul id="navbar">
          <li><a class="active" href="index.html">Home</a></li>
          <li><a href="shop.html">Shop</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li>
            <a href="cart.html"><i class="fa-solid fa-bag-shopping"></i></a>
          </li>
        </ul>
      </div>
    </section>
    <section id="hero">
      <h4>Trade-in-offer</h4>
      <h2>Super value deals</h2>
      <h1>On all products</h1>
      <p>Save more with coupons & up to 70% off</p>
      <button>Shop Now</button>
    </section>
    <section id="feature" class="section-p1">
      <div class="fe-box">
        <img src="/assets/f1.png" alt="">
        <h6>Free Shipping</h6>
      </div>
      <div class="fe-box">
        <img src="/assets/f2.png" alt="">
        <h6>Online Order</h6>
      </div>
      <div class="fe-box">
        <img src="/assets/f3.png" alt="">
        <h6>Save Money</h6>
      </div>
      <div class="fe-box">
        <img src="/assets/f4.png" alt="">
        <h6>Promotions</h6>
      </div>
      <div class="fe-box">
        <img src="/assets/f5.png" alt="">
        <h6>Happy Sell</h6>
      </div>
      <div class="fe-box">
        <img src="/assets/f6.png" alt="">
        <h6>24/7 Support</h6>
      </div>

    </section>

    <script src="https://kit.fontawesome.com/f274c007a9.js"crossorigin="anonymous"></script>
  </body>
</html>
